body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* OWL */

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font-size: 34px !important;
}

owl-theme .owl-nav {
    margin-top: 0px !important;
}


/* NAVBAR */

.navbar {
    background-color: #901A1E;
}

.navbar-toggler {
    background-color: white !important;
    color: white !important;
}

.img-logo {
    margin-left: 40px;
    width: 140px;
}

.nav-link {
    color: white !important;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 40px;
    margin-left: 23px;
}

.nav-link:hover {
    color: black !important;
}


/* HERO */

.hero {
    /* position: relative; */
    text-align: center;
    color: black;
    padding: 3%;
    /* background-color: #901A1E; */
}

.head {
    max-height: 800px;
    width: 100%;
}

.texts {
    padding-left: 15%;
    padding-right: 15%;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* width: 60%; */
    /* transform: translate(-50%, -50%); */

}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
}


.p-head {
    font-weight: 400;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 5%;
}

.btn-image {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 5%;
    color: #fff !important;
    background-color: #901A1E !important;
}

/* BENEFITS */
#BENEFITS {
    color: #fff;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 3%;
    margin-bottom: 3%;
    letter-spacing: 4px;
    color: #901A1E;
}

.bene {
    height: 250px;
    width: 300px;
    border-radius: 10px;
    background-color: #2A2A2A;
    margin: 2%;
    display: none;
}

.img-bene {
    padding: 2%;
    width: 30%;
    height: 30%;
    margin-top: 15%;
}

h3 {
    margin-top: 10%;
}

.p-bene {
    padding: 5%;
    margin-top: 3%;
}

.btn-bene {
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff !important;
    background-color: #901A1E !important;
    margin-top: 2%;
    margin-bottom: 2%;
}

#loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
}

#loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}


/* TESTIMONIAL */

.testimonials {
    background-color: #2A2A2A;
}

.testimonials h1 {
    padding-top: 4%;
}

.gtco-testimonials {
    position: relative;
    margin-top: 30px;
    padding-bottom: 30px;
}

.gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
}

.gtco-testimonials .owl-nav {
    display: none;
}

.gtco-testimonials .owl-dots {
    text-align: center;
}

.gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #01b0f8;
    margin: 0 5px;
}

.gtco-testimonials .owl-dots .active {
    box-shadow: none;
}

.gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
}

.gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}

.gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}

.gtco-testimonials .card h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
}

.gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
}

.gtco-testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
}

.gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
}

.gtco-testimonials .center {
    opacity: 1;
}

.gtco-testimonials .center h5 {
    font-size: 24px;
}

.gtco-testimonials .center h5 span {
    font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
}



/* ABOUT US */

.about {
    color: #fff;
    background-color: #901A1E;
}

.about-h {
    padding-top: 5%;
    color: #fff;
}

.about-p1 {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 2% 5% 0% 5%;
}

.about-p2 {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0% 5% 5% 5%;
}



/* Contact US*/

#CONTACT{
    /* align-items: center; */
    text-align: center;
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.contact-text-2 {
    margin: 5%;
}

.contact-text {
    text-align: center;
    font-weight: 500;
    padding: 0%;
    margin: 0%;
    font-size: 1.2rem;
}

.cols {
    /* justify-content: center; */
    padding: 3%;
    background-color: #2A2A2A;
}

.ids-2 {
    font-size: 1.1rem;
    text-align: center;
    padding: 2%;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10%;
}

.ids {
    text-align: left;
    padding: 3%;
    color: #fff;
    font-weight: 600;
}

.icon {
    font-size: 25px;
    margin: 0% 5% 0% 5%;
}

.forms {
    padding: 4%;
    text-align: left;
    color: black;
}

.form-control {
    border-width: 1px;
    border-color: black;
}

.btn-sm {
    margin-top: 8%;
    font-size: 1.2rem;
}

.fag {
    margin: 0% 5% 0% 0%;
}

.contact-h {
    color: #fff;
}


/* footer */
.footer {
    color: #fff;
    background-color: #901A1E;
}

.footer-p {
    font-size: 1.2rem;
    margin-top: 20%;
}

.footer-img {
    width: 30%;
}

.footer .bi{
    font-size: 3rem;
}

.footer .bi-facebook{
    color: #01b0f8 !important;
}

.footer .bi-instagram{
    color: pink !important;
}

.footer .bi-twitter{
    color: #01b0f8 !important;
}

.footer .bi-youtube{
    color: white !important;
}



.p-foo {
    margin: 0% 0% 3% 0%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 2%;
}


/* MEDIA */
@media (max-width: 1028px) {

    /* NAVBAR */
    .nav-link {
        text-align: left;
    }

    .img-logo {
        margin-left: 20px;
        width: 120px;
    }

    /* HERO */

    .head {
        width: 100%;
        max-height: 900px;
    }


    .texts {
        padding-left: 6%;
        padding-right: 6%;
        /* position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%); */
    }

    h2 {
        font-weight: 700;
        font-size: 1rem;
    }


    .p-head {
        font-weight: 400;
        font-size: 0.7rem;
        width: 100%;
        margin-top: 2%;
    }

    .btn-image {
        font-weight: 500;
        font-size: 0.8rem;
        margin-top: 2%;
        color: #fff !important;
        background-color: #901A1E !important;
    }

    /* BENEFITS */

    .bene {
        margin: auto;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    h1 {
        font-size: 2rem;
        margin-top: 8%;
        margin-bottom: 8%;

    }


    /* TESTIMONIALS */
    .gtco-testimonials {
        margin-top: 20px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        outline: 0;
    }

    .owl-carousel button.owl-dot {
        outline: 0;
    }


    /* CONTACT */
    .fag {
        font-size: 32px;
    }

    .ids-2 {
        font-size: 0.7rem;
        margin-bottom: 6%;
    }

    .ids {
        text-align: center;
        padding: 3%;
        color: #fff;
        font-weight: 600;
    }

    .contact-text {
        /* justify-content: center; */
        font-weight: 500;
        padding: 1%;
        margin: 0%;
        font-size: 0.7rem;
    }


    /* ABOUT */

    .about-p1 {
        font-size: 0.9rem;
        font-weight: 400;
        padding: 5% 5% 0% 5%;
    }
    
    .about-p2 {
        text-align: left;
        font-size: 0.9rem;
        font-weight: 400;
        padding: 3% 5% 10% 5%;
    }

    /* FOOTER */

    .footer-p{
        font-size: 0.8rem;
    }

    .footer .bi{
        font-size: 1.5rem;
        padding-left: 20%;
        padding-right: 20%;
    }

    .p-foo {
        font-size: 1rem;
        padding-top: 5%;
        padding-bottom: 10%;
    }

}